@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    background: white;
}

.search-container {
  float: left;
    position: relative;
    top: 10px;
    left: -800px;
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background: white;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
  }

  .search-container input {
    width: 0; 
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
  }
  .search-container:hover input{
    width: 250px;
  }
  #my-image {
    width: 150px;
    height: auto;
  }

  #my-image2{
    width: 30px;
    height: auto;
    position: relative;
    top: 4px;
    left: 1px;
    border: none;
  }

  #my-image3{
    width: 465px;
    height: auto;
    border: none;
  }

  #my-image4{
    width: 230px;
    height: auto;
    border: none;
  }

  #my-image5{
    width: 70px;
    height: auto;
    border: none;
  }

  #image-container {
    margin-top: 20px;
    margin-left: 590px;
    padding: 10px;
  }

  #image-container2 {
    margin-top: 170px;
    margin-left: -463px;
    padding: 10px;
  }

  #image-container3 {
    margin-top: -557px;
    margin-left: 32px;
    padding: 10px;
  }

  #image-container4 {
    margin-top: 0px;
    margin-left: 32px;
    padding: 10px;
  }

  #image-container5 {
    margin-top: -540px;
    margin-left: -470px;
    padding: 10px;
  }

  .rotate-image{
    transform: rotate(270deg);
  }

  .my-button {
    position: relative;
    left: -750px;
    top: 67px;
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: lightgrey;
  }
  .button-container{
    display: flex;
    flex-direction: row;
  }
  
  .horizontal-lines {
    display: flex; 
    align-items: center; 
  }
  
  .line {
    position: relative;
    top:-65px;
    left: 292px;
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #000;
  }
  
  .spacer {
    width: 190px;
  }
  .info {
    text-align: right;
  }
  
  .text {
    position: relative;
    top: 390px;
    right: 445px;
    font-style: italic;
    font-family: Archivo;
    font-size: 20px; 
    color: black;
    font-weight: 100px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    left: -400px;
    top: -220px;
  }
  
  nav li {
    position: relative;
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Ubuntu;
    font-style: oblique;
  }
  
  .dropdown-menu {
    font-size: 15px;
    font-family: Ubuntu;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: white;
    padding: 0;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu a {
    padding: 10px 10px;
  }
  
  nav li:hover .dropdown-menu {
    display: block;
  }